<!DOCTYPE html>
<html>
  	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="./javascript/jquery.cookie.js"></script>
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="./css/style.css">
		<style>
			p  {
				font-size: 15px;
			}
			h5 {
				font-size: 20px;
			}
		</style>
		<link rel="stylesheet" href="./css/fontawesome/web-fonts-with-css/css/fontawesome.min.css">
		<meta name="description" content="Marcel est un assistant personnel connecté qui facilite la vie des parents en répondant à leurs questions et tâches du quotidien, via Messenger" />
		<meta name="keywords" content="Hello, Marcel, hello marcel, hellomarcel, HM, chatbot, chat bot, enfants, aide, activités, parents, bot, assistant" />
		<title>Hello Marcel</title>
  	</head>
	<body>
		<div class="container">
			<h1 class="text-center" id="title">Conditions générales d’utilisation du service<br /><small style="font-size: 12px;">En date du 25/05/2018</small></h1>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<p>Il est important de lire attentivement et de comprendre ces conditions générales d'utilisation du Service Hello Marcel. En acceptant les présentes, vous vous engagez à respecter les termes et conditions ci-après. Si vous n'êtes pas d'accord avec ces termes et conditions et que vous ne voulez pas les respecter, vous ne devrez pas les accepter et ne pourrez pas, en conséquence, bénéficier des services proposés par la société sur le Service Hello Marcel.</p>
				</div>
			</div>
			<div class="row" id="preambule">
				<div class="col-md-offset-2 col-md-8">
					<h5><b>Préambule</b></h5>
					<p>(A) Les présentes Conditions Générales d'utilisation du Service en date du 10/07/2017 (ci-après dénommées les « Conditions Générales ») décrivent les termes et conditions applicables à l'accès au Service.<br />
					(B) Le Service est la propriété exclusive de la société WINGS SAS,société Wings SAS, société par actions simplifiée au capital de 1 078€ euros, dont le siège social est situé au 176 avenue Charles de Gaulle 92522 Neuilly-sur-Seine CEDEX, identifiée au registre du commerce et des sociétés de Paris sous le numéro 314 503 996 (ci-après dénommée la « Société »). <br />
					(C) Le Service proposé par la Société a pour objet de permettre :<br />
					(i) la mise à disposition d’informations à destination des utilisateurs, sur des idées de sorties sur Paris et sa région, des adresses de restaurants kidsfriendly, des lieux de sortie et lieux d’hébergement adaptés aux familles.<br />
					(ii) la consultation de ces informations peut se faire : <br />
					<ul>
						<li>Par action de l’utilisateur, qui se rend sur le Service depuis le Site ou depuis la plateforme Messenger.</li>
						<li>Automatiquement par push pour les utilisateurs ayant souscrit au service d’abonnement sur le Service.</li>
						<li>Par la newsletter du Service, pour les utilisateur ayant consenti à la recevoir.</li>
					</ul>
					</p>
				</div>
			</div>
			<div class="row" id="article1">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 1. DÉFINITIONS</b></h2>
					<p>Pour les besoins des présentes, les expressions comportant une majuscule auront le sens qui leur est donné ci-après, à moins que le contexte n'exige qu'il en aille autrement :<br />
						« CGU » : désigne les présentes conditions générales d’utilisation.<br />
						« Service » ou « Hello Marcel » : désigne le service de conseils et d’assistance fournis par Wings SAS à l’Utilisateur.<br />
						« Newsletter » : désigne la lettre d’information envoyée par email aux utilisateurs ayant consenti à la recevoir.<br />
						« Site » : désigne le site internet https://hellomarcel.fr ainsi que toutes les pages associées.<br />
						« Utilisateur » : désigne toute personne physique échangeant des messages avec Hello Marcel, quel que soit le canal conversationnel.<br />
						« Canal conversationnel » : désigne le moyen de conversation adopté par l’Utilisateur pour dialoguer avec Hello Marcel (https://m.me/hellohellomarcel).<br />
						« Wings » : désigne la société Wings SAS, société par actions simplifiée au capital de 1 078€ euros, dont le siège social est situé au 176 avenue Charles de Gaulle 92522 Neuilly-sur-Seine CEDEX, identifiée au registre du commerce et des sociétés de Paris sous le numéro 314 503 996.<br />
					</p>
				</div>
			</div>
			<div class="row" id="article2">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 2. CHAMPS D’APPLICATION</b></h2>
					<p>Les CGU définissent les modalités d’utilisation du site y compris tout contenu et toute fonctionnalité accessibles sur ledit site et par conversation avec Hello Marcel, quel que soit le canal conversationnel. Toute utilisation des services proposés sur le Site internet et par conversation (tous canaux conversationnels confondus) requiert l’adhésion aux présentes CGU.<br /><br />
						Le propriétaire du Site s’efforce de fournir par conversation avec Hello Marcel des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.<br /><br />
						Tous les informations proposées par conversation avec Hello Marcel sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne. <br />
					</p>
				</div>
			</div>
			<div class="row" id="article3">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 3. INSCRIPTION, ACCÈS ET UTILISATION DU SITE ET DU SERVICE</b></h2>
					<h5><b>3.1. Inscription de l'Utilisateur</b></h5>
					<p>Pour accéder au service, l’utilisateur doit se rendre sur Facebook Messenger et entamer une conversation avec Hello Marcel (ou sur le site hellomarcel.fr et cliquer sur le bouton indiqué). Lors de son premier contact avec Hello Marcel, l’Utilisateur s’engage à lire les présentes CGU. L’Utilisateur est responsable de l’utilisation de ses coordonnées et de son appareil. L’Utilisateur est informé que tout tiers qui utiliserait son appareil peut potentiellement utiliser le Service en son nom. En conséquence, pour limiter ce risque, l'Utilisateur est invité à sécuriser l'accès à son appareil. L'Utilisateur accepte de n'utiliser le Service Hello Marcel qu'aux seules fins autorisées par les CGU, et toute loi, tout règlement ou toute pratique ou directive généralement acceptée dans les juridictions concernées. En conséquence, l'Utilisateur reconnaît être le seul et unique responsable à l'égard de Hello Marcel de tous actes effectués à partir de ses données communiquées lors de l’inscription. Si l'Utilisateur a connaissance d'une utilisation non autorisée du service en son nom, il accepte d'en informer Hello Marcel sans délai à l'adresse e-mail : contact@hellomarcel.fr. L'Utilisateur autorise Wings SAS par les présentes CGU à enregistrer et à utiliser, par traitement informatique, les informations fournies par l'Utilisateur. Wings SAS ne pourra être tenue responsable de toute perte ou dommage survenant en cas de manquement aux obligations du présent article.</p><br />
					<h5><b>3.2. Disponibilité du service</b></h5>
					<p>Le service est accessible aux Utilisateurs sept jours sur sept, 24 heures sur 24, sauf interruption, programmée ou non, pour des besoins de maintenance ou cas de force majeure, sans notification antérieure à l’Utilisateur. Par conséquent, Wings SAS ne peut garantir une disponibilité du site et du service, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis-à-vis de l’utilisateur. Par ailleurs, Wings SAS peut être amené à interrompre le site et/ou le service, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que Wings SAS ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.</p>
					<h5><b>3.3. Utilisation du service</b></h5>
					<p>En cas de non-respect des CGU par un utilisateur, Wings SAS se réserve le droit de restreindre l’accès à Hello Marcel au dit utilisateur, et ce sans préavis. Wings SAS n’endosse et n’assume aucune responsabilité vis-à-vis des conséquences de l’arrêt du service pour l’utilisateur.<br/><br/>Par ailleurs, en aucun cas, Wings SAS ne sera responsable de la qualité du contenu du service, de la perte ou de dommage de quelque nature que ce soit résultant de l'utilisation du service. Le service peut contenir des liens vers des contenus tiers qui n’émanent pas de Wings SAS et ne sont pas contrôlés. Wings SAS n’endosse et n’assume aucune responsabilité concernant lesdits sites tiers, informations, contenus, produits, ou services. L’usage que fait l’Utilisateur de ces sites ou services tiers est à ses propres risques et périls.<br /><br />Wings SAS ne saurait être tenu responsable des erreurs typographiques ou inexactitudes apparaissant sur le site internet et par conversation avec Hello Marcel, ou de quelque dommage subi résultant de son utilisation. L’Utilisateur reste responsable de son équipement et de son utilisation, de même il supporte seul les coûts directs ou indirects suite à sa connexion à Internet.<br /><br />L’Utilisateur dégage la responsabilité de Wings SAS pour tout préjudice qu’il pourrait subir ou faire subir, directement ou indirectement, du fait des services proposés. Seule la responsabilité de l’Utilisateur est engagée par l’utilisation du service proposé et celui-ci dégage expressément Wings SAS de toute responsabilité vis à vis de tiers.<br /><br />Le propriétaire du site se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’Utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).<br /></p>
					<h5><b>3.4. Bannissement du service</b></h5>
					<p>En cas de non-respect des CGU par un utilisateur, Wings SAS se réserve le droit de suspendre l’accès à Hello Marcel audit utilisateur, et ce sans préavis. Wings SAS n’endosse et n’assume aucune responsabilité vis-à-vis des conséquences de l’arrêt du service pour l’utilisateur.<br /></p>
				</div>
			</div>
			<div class="row" id="article4">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 4. PROTECTION DE LA VIE PRIVÉE ET DES DONNÉES À CARACTÈRE PERSONNEL</b></h2>
					<h5><b>4.1. Données personnelles récoltées sur le Service</b></h5>
					<p>Toutes les informations relatives à la récolte des données personnelles au sein du chabot sont référencées et détaillées dans notre <a href="#politiqueconfidencialite">Politique de confidentialité</a>.<br /></p>
					<h5><b>4.2. Données récoltées sur le site</b></h5>
					<p>Les informations personnelles récoltées sont uniquement l'adresse IP à des fins analytiques. Ces informations ne seront jamais vendues, prêtées ou louées à un tiers.<br /></p>
					<h5><b>4.3. Âge légal d’utilisation du Service</b></h5>
					<p>WINGS SAS ne collecte pas sciemment les données personnelles d’enfants âgés de moins de 13 ans. Si vous avez moins de 13 ans, nous vous prions de ne pas utiliser ce service et de ne pas divulguer vos informations personnelles à Hello Marcel.<br /><br />Nous encourageons les parents et tuteurs légaux à surveiller l’utilisation d’Internet de leurs enfants et à nous aider à renforcer notre <a href="#politiqueconfidencialite">Politique de confidentialité</a> en indiquant à leurs enfants de ne pas divulguer leurs informations personnelles à Hello Marcel sans leur permission. Si vous avez des raisons de croire qu’un enfant de 13 ans a transmis des données personnelles à Hello Marcel, merci de nous contacter à legal@hellomarcel.fr, et nous prendrons soin de supprimer ces informations de notre base de données.<br /></p>
				</div>
			</div>
			<div class="row" id="article5">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 5. RÈGLES DE VIE DU SERVICE</b></h2>
					<p>En utilisant le service Hello Marcel, l’Utilisateur s’engage à :<br />
						<ul>
							<li>Ne pas envoyer des propos ou des photos à caractère violent.</li>
							<li>Ne pas envoyer des propos ou photos de torture sur des êtres vivants</li>
							<li>Ne pas tenir de propos raciste ou insinuer directement ou indirectement des menaces envers autrui</li>
							<li>Ne pas envoyer des photos à caractère pornographique, pédopornographique, ou de toute autre nature sexuelle impliquant des êtres humains, qu’ils soient totalement ou partiellement nus</li>
							<li>Respecter les lois locales et nationales en vigueur dans leur pays de résidence en matière de services en ligne et de contenus</li>
							<li>Respecter les présentes conditions générales et les règlements particuliers</li>
							<li>Reconnaître que Wings SAS a de plein droit la capacité de supprimer tout contenu sans notification préalable.</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="row" id="article6">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 6. DROIT APPLICABLE ET JURIDICTIONS COMPÉTENTES</b></h2>
					<p>Les relations contractuelles découlant de l’utilisation du Site et du Service Hello Marcel sont soumises au droit français, et sont de la compétence exclusive des juridictions françaises.<br /></p>
				</div>
			</div>
			<div class="row" id="article7">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>ARTICLE 7. DROITS D’AUTEUR DE WINGS SAS</b></h2>
					<p>Tout le contenu disponible sur le site (textes, logiciel, scripts, graphisme, photos, sons, musique, interface graphique) sont la propriété exclusive de la société Wings SAS et sont à ce titre protégés par le Code de la Propriété Intellectuelle<br /></p>
				</div>
			</div>
			<br />
			<br />
			<br />
			<br />
			<h1 class="text-center" id="politiqueconfidencialite">Politique de confidentialité</h1>
			<div class="row" id="p1">
				<div class="col-md-offset-2 col-md-8">
					<p>Cette politique de confidentialité se limite à l'utilisation du Service Hello Marcel sur Messenger ainsi qu’à la Newsletter associée au Service.<br /></p>
					<h2><b>1. Les données collectées sur Hello Marcel</b></h2>
					<p>Il y a 4 types de données relatives aux utilisateurs de Hello Marcel :<br />
						<ul>
							<li>Les données environnementales.</li>
							<li>Les données de qualification, permettant de qualifier un utilisateur en base.</li>
							<li>Les réponses aux questions, permettant d'effectuer des statistiques anonymes.</li>
							<li>Les messages entrants de la conversation.</li>
						</ul><br />
						Chacun de ces types est traité et conservé de manière différente en fonction de la finalité du traitement.<br />
					</p>
					<h5><b>1.1 Données environnementales</b></h5>
					<p>
						Les données environnementales sont des données récupérées lors de l'inscription de l'utilisateur au service Hello Marcel. Ces données sont:
						<ul>
							<li>Un identifiant unique d'utilisateur fourni par Facebook.</li>
							<li>La langue de l'interface Messenger.</li>
							<li>La timezone de l'utilisateur.</li>
						</ul>
						Celles-ci sont conservées pendant 3 ans à compter de la dernière interaction de l'utilisateur avec le service, et permettent d'améliorer le service.
					</p>
					<h5><b>1.2 Données de qualification</b></h5>
					<p>Les données de qualification sont des données personnelles. Celles-ci sont uniquement récupérées à l'aide de questions directes posées par le service Hello Marcel. Ces données sont:
						<ul>
							<li>Le prénom, fourni par Facebook et/ou saisi par l’utilisateur lors de son inscription à la Newsletter du Service.</li>
							<li>Le consentement de l’utilisateur à recevoir des informations en mode automatique (mode push).</li>
							<li>Adresse email et code postal demandés lors de l’inscription à la Newsletter du Service.</li>
						</ul>
						Celles-ci sont conservées pendant 3 ans à compter de la dernière interaction de l'utilisateur avec le Service, et permettent d'améliorer le service ainsi que d'effectuer des statistiques anonymes.<br />
					</p>
					<h5><b>1.3 Réponses aux questions</b></h5>
					<p>
						Lors des échanges avec Hello Marcel, celui-ci pose parfois des questions, et certaines des réponses sont stockées de manière anonymes, accompagnées des données de qualification. <br /><br />
						Ces questions n'incluent pas les questions de qualification. <br /><br />
						L'ensemble de ces informations sont conservées pendant 1 an après la récupération de celles-ci. <br />
					</p>
					<h5><b>1.4 Messages entrants de la conversation</b></h5>
					<p>
						Chacun message envoyé par un utilisateur est un message entrant. Ceux-ci servent notamment à extraire les données de 1.2 et 1.3.<br /><br />
						Comment utilisons-nous les données ?<br /><br />
						Les données personnelles (contenu des messages, numéros de téléphone, âge, ville, occupation, prénom, nom, mail) ne seront jamais vendues, prêtées ou louées à un tiers. <br /><br />
						Elles peuvent servir à l’amélioration et à la personnalisation du service. <br /><br />
						Un utilisateur peut à tout moment se désinscrire du service en supprimant la conversation avec Hello Marcel sur Facebook et Facebook Messenger. Dans ce cas, Hello Marcel ne contactera plus l’utilisateur. <br /><br />
						Un utilisateur peut demander à ce que soient supprimés toutes les copies des messages qu’il a envoyés au service, ainsi que toutes les informations qui en ont été extraites en demandant explicitement à Hello Marcel de supprimer lesdites données. <br /><br />
						En application de la loi n° 78-17 du 6 janvier 1978 modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés, chaque Utilisateur dispose des droits d’opposition, d’accès et de rectification des données le concernant. Il peut ainsi exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées, les informations le concernant qui sont inexactes, incomplètes, équivoques ou périmées. <br /><br />
						Chaque Utilisateur peut exercer à tout moment en ligne ce droit en contactant Wings SAS via l’adresse mail legal@hellomarcel.fr<br />
					</p>
				</div>
			</div>
			<div class="row" id="p2">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>2. Transmission des données à des tiers</b></h2>
					<p>Nous ne transmettons aucune donnée personnelle non anonymisé à des tiers sans le consentement explicite de l’utilisateur, sauf si la loi nous l'impose.</p>
				</div>
			</div>
			<div class="row" id="p3">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>3. Consentement à la politique de confidentialité</b></h2>
					<p>En utilisant le Service (ie. en commençant à converser avec Hello Marcel dans Messenger ou sur le Site www.hellomarcel.fr), vous consentez à la présente politique de confidentialité.</p>
				</div>
			</div>
			<div class="row" id="p4">
				<div class="col-md-offset-2 col-md-8">
					<h2><b>4. Evolution de notre politique de confidentialité</b></h2>
					<p>
						Si nous décidons de changer notre politique de confidentialité, nous noterons les changements dans ce paragraphe et/ou modifierons la date ci-dessous. <br /><br />
						Cette politique de confidentialité a été modifiée pour la dernière fois le 25 mai 2018.
					</p>
				</div>
			</div><br />
			<div class="row" id="contact">
				<div class="col-md-offset-2 col-md-8">
					<h1 class="text-center"><b>Nous contacter</b></h1>
					<p>
						Pour toute question à propos de cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante: <a href="mailto:legal@hellomarcel.fr">legal@hellomarcel.fr</a>
					</p>
				</div>
			</div><br /><br />
		</div>
	</body>
</html>
