<!DOCTYPE html>
<html>
  	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style type="text/css">
			.logo {
				text-align: center;
				background-color: #EBFAF3;
			}

			.logoImg {
				vertical-align: middle;
				width: 230px;
				height: 105px;
				border: 0;
			}

			.text {
				font-size: 22px;
			}

			.text-center {
				text-align: center;
			}

			html,body{
			    height:100%;
			}

			#wrapper{
			    position:relative;
			    /*background:#333;*/
			    height:100%;
			}

			.profile-main-loader{
			    left: 50% !important;
			    margin-left:-100px;
			    position: fixed !important;
			    top: 50% !important;
			    margin-top: 0;
			    width: 45px;
			    z-index: 9000 !important;
			}

			.profile-main-loader .loader {
			  position: relative;
			  margin: 0px auto;
			  width: 200px;
			  height:200px;
			}
			.profile-main-loader .loader:before {
			  content: '';
			  display: block;
			  padding-top: 100%;
			}

			.circular-loader {
			  -webkit-animation: rotate 2s linear infinite;
			          animation: rotate 2s linear infinite;
			  height: 100%;
			  -webkit-transform-origin: center center;
			      -ms-transform-origin: center center;
			          transform-origin: center center;
			  width: 100%;
			  position: absolute;
			  top: 0;
			  left: 0;
			  margin: auto;
			}

			.loader-path {
			  stroke-dasharray: 150,200;
			  stroke-dashoffset: -10;
			  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			  stroke-linecap: round;
			}

			@-webkit-keyframes rotate {
			  100% {
			    -webkit-transform: rotate(360deg);
			            transform: rotate(360deg);
			  }
			}

			@keyframes rotate {
			  100% {
			    -webkit-transform: rotate(360deg);
			            transform: rotate(360deg);
			  }
			}
			@-webkit-keyframes dash {
			  0% {
			    stroke-dasharray: 1,200;
			    stroke-dashoffset: 0;
			  }
			  50% {
			    stroke-dasharray: 89,200;
			    stroke-dashoffset: -35;
			  }
			  100% {
			    stroke-dasharray: 89,200;
			    stroke-dashoffset: -124;
			  }
			}
			@keyframes dash {
			  0% {
			    stroke-dasharray: 1,200;
			    stroke-dashoffset: 0;
			  }
			  50% {
			    stroke-dasharray: 89,200;
			    stroke-dashoffset: -35;
			  }
			  100% {
			    stroke-dasharray: 89,200;
			    stroke-dashoffset: -124;
			  }
			}
			@-webkit-keyframes color {
			  0% {
			    stroke: #3eec96;
			  }
			  40% {
			    stroke: #3eec96;
			  }
			  66% {
			    stroke: #3eec96;
			  }
			  80%, 90% {
			    stroke: #3eec96;
			  }
			}
			@keyframes color {
			  0% {
			    stroke: #3eec96;
			  }
			  40% {
			    stroke: #3eec96;
			  }
			  66% {
			    stroke: #3eec96;
			  }
			  80%, 90% {
			    stroke: #3eec96;
			  }
			}
		</style>
		<title>Redirection...</title>
  	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 logo">
					<img src="/images/title.png" alt="logoHelloMarcel" class="logoImg" />
				</div>
			</div>
			<br />
			<br />
			<br />
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<p class="text-center text">
						Hello Marcel est l’expert des sorties en famille sur Messenger !
						</br></br>
						Pour accéder à toutes ses bonnes adresses, <b>vous allez être redirigé sur Messenger...</b>
					</p>
				</div>
			</div>
			<br />
			<br />
			<br />
			<div class="row">
				<div class="col-xs-12 text-center">
					<div id="wrapper">
						<div class="profile-main-loader">
						  <div class="loader">
						    <svg class="circular-loader" viewBox="25 25 50 50" >
						      <circle class="loader-path" cx="50" cy="50" r="10" fill="none" stroke="#3eec96" stroke-width="3" />
						    </svg>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Scripts JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>
		    (function() {
		      window.onload = setTimeout(function() {
		        window.location.replace("http://m.me/hellohellomarcel?ref=GoToStep%7C<%= url %>");
		      },  4500 );
		    })();
		</script> <!-- Script de page -->
	</body>
</html>

<!-- Créé par Jérémy Misiti ->
