@font-face {
    font-family: brandon;
    src: url('./Brandon_reg.otf');
}

@font-face {
	font-family: avenirl;
	src: url('./Avenir_Light.otf');
}

@font-face {
	font-family: avenirh;
	src: url('./AvenirLTStd-Heavy.woff');
}

nav {
	font-family: brandon !important;
}

html {
	font-family: brandon !important;
}

.btn-green {
	background-color: #45DD90;
	color: white;
	font-family: brandon;
	border-radius: 0;
	font-size: 18px;
	width: 100%;
	overflow: hidden;
}

.iframevd {
	position: relative;
	height: 546px;
	margin-bottom: 30px;
}

.fa-quote-left {
	font-size: 5vw !important;
	color: white;
}

.iframevd iframe {
    box-sizing: border-box;
    background: url('../images/empty_iphone.png') center center no-repeat;
    background-size: contain;
	padding-top: 50px;
	padding-bottom: 60px;
	width: 272px;
	height: 546px;
}

.fa-whois {
	font-size: 5vw !important;
}

strong {
	font-weight: normal;
}

.form-control {
	border-radius: 0;
	font-size: 18px;
	height: 40px;
}

@media (max-width: 990px) {
	.text-xs-center { text-align: center; }

	.fa-whois { font-size: 9vw !important; }
}

@media (min-width: 990px) {
	.disabled-xs  { display: none; }
}

@media (max-width: 405px) {
	.iframevd iframe { margin-left: 0%; }

	.form-control::placeholder { font-size: 14px; }

	.btn-green { font-size: 12px; }
}

h1 {
	font-size:48px;
	font-family: brandon;
}

h2 {
	font-size:22px;
	font-family: avenirh;
}

.fa-star, .fa-star-o {
	margin-top: 5px;
	font-size: 2.4vw !important;
	margin-right: 6px;
	color: #FFEB5D;
}

.fa-star-o {
	color: rgba(160, 160, 159, 1);
}

.btn-white {
	background-color: white;
	color: #7DEFB4;
	font-family: brandon;
	border-radius: 0;
	font-size: 18px;
}

.btn-white:hover {
	background-color: white;
	color: #45DD90;
	font-family: brandon;
	border-radius: 0;
	font-size: 18px;
}

span {
	color: #605e5e;
	font-size: 20px;
	font-family: avenirl;
}

.navlink {
	color: white !important;
	font-size: 2vw;
}

.avis {
	height: 400px;
}

.temoignagespan {
	font-size: 14px;
	font-family: avenirl;
	color: rgba(160, 160, 159, 1);
}

h4 {
	font-family: brandon;
}

@media (max-width:1200px) {
	.avis {
		height: 390px;
	}
}

@media (max-width:990px) {
	.avis {
		height: 100%;
	}
}

@media (min-width:0px) and (max-width:767px) {
	h1 { font-size: 54px; }

	h2 { font-size:28px; }

	h4 { font-size:26px; }

	h6 { font-size:26px; }

	.form-control { font-size: 22px; }

	span { font-size: 26px; }

	.navlink { font-size: 3.5vw; }

	.fa-star, .fa-star-o { font-size: 5vw !important; }

	.fa-quote-left { font-size: 9vw !important; }

	.temoignagespan { font-size: 18px; }
}

input {
	font-family: brandon;
}

.navbar {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.borders {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	padding-top: 20px;
	padding-bottom: 20px;
}

.navlink:hover {
	color: #45DD90 !important;
}

a:active {
    text-decoration: none;
}

.footerlink {
	color: white;
}

.footerlink:hover {
	color: white;
}

.footerlink2 {
	color: #309964;
}

.footerlink2:hover {
	color: #309964;
}

.part {
	height: 580px;
}

.title {
	width: 143px;
	height: 63px;
	object-fit: cover;
	margin-top: 20px;
}

.whitebg {
	background-color: white;
}

.greenbg {
	background-color: #7DEFB4;
	padding-top: 40px;
}

.inputfooter {
	background-color: rgba(255,255,255,0.4590163934426229);
	border: 0;
	color: white !important;
}

.inputfooter::placeholder {
	color: white !important;
}

.greybg {
	margin-top: 40px;
	background-color: rgba(96,94,94,0.1);
	padding-left: 20px;
	padding-right: 20px;
}

.cgu {
	background-color: #FAFAFA;
}

.avis {
	padding-top: 30px;
	padding-bottom: 30px;
    border-bottom-left-radius: 55px;
}

.redbg {
	background-color: #F2496A;
	padding-bottom: 100px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 546px;
}

.buttongo {
	font-family: avenirl;
	border-radius: 30px;
	width: 123px;
	height: 46px;
	margin: auto;
	color: black !important;
	padding-top: 12px;
}

.buttongo:hover {
	color: white !important;
	background-color: lightgrey;
}

.nav {
	font-size: 18px !important;
}

.green {
	color: #45DD90 !important;
}

.white {
	color: white;
}

.h2white {
	font-family: avenirh;
	font-size: 22px;
}

.h1white {
	font-family: avenirl;
	font-size: 36px;
}

body {
	background-image: url('../images/bg1.png');
	background-repeat:   no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto;
	font-family: brandon;
}
